<div
     id="chat-content-container"
     class="flex justify-between min-h-screen flex-col md:pl-[320px]" (click)="updateChatModel()">
  <div id="mainChatContainer" *ngIf="messages.length > 0">
    <span class="mx-5 my-3 block text-white">本對話窗使用：{{currentPageModelName}}</span>
    <div *ngFor="let message of messages" class="mx-5 text-white">
      <div *ngIf="message.content !== null">
        <div
             [class]="
            'flex items-start p-5 ' +
            (message.role === 'user' ? 'bg-[#40414E]' : '')
          ">
          <img
               height="50"
               width="50"
               [src]="
              message.role === 'assistant'
                ? '../../assets/img/chatgpt.jpg'
                : '../../assets/img/user.png'
            "
               class="rounded-full mr-10"
               alt="user_photo" />
          <div class="align-middle">
            <div class="prose prose-invert" [innerHTML]="message.content | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="messages.length === 0">
    <div [class]="'justify-center flex items-center p-5 flex-col'">
      <ng-container *ngIf="apiKey">
        <div (click)="toggleModel()" class="group flex items-center p-2 rounded-lg bg-gray-100 hover:bg-pink-400 text-pink-400 hover:text-black cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="fill-black">
            <path d="M280-120 80-320l200-200 57 56-104 104h607v80H233l104 104-57 56Zm400-320-57-56 104-104H120v-80h607L623-784l57-56 200 200-200 200Z" />
          </svg>
          <span class="ml-3">
            <span class="">
              新對話框預計使用 {{planToUseModelName}}<br>
            </span>
            <span class="">點擊以切換模型</span>
          </span>
        </div>
        <br>
        <h1 [class]="'text-white'">
          Please start typing some prompt...
        </h1>
      </ng-container>
      <h1 *ngIf="apiKey === null || apiKey === ''" [class]="'text-white'">
        Please enter your API Key...
      </h1>
    </div>
  </div>
  <div class="flex mx-5 p-4">
    <textarea
              class="w-full p-3 bg-[#40414E] text-white rounded-l-md resize-none focus:outline-none"
              placeholder="Type something..."
              rows="1"
              name="textInput"
              #textInput
              (compositionstart)="onCompositionStart()"
              (compositionend)="onCompositionEnd()"
              (keydown)="onEnterPress($event, textInput)"
              [disabled]="apiKey === null || apiKey === ''"></textarea>
    <button
            [disabled]="apiKey === null || apiKey === ''"
            class="bg-[#40414E] p-3 rounded-r-md"
            type="button">
      <i
         *ngIf="isBusy === false"
         (click)="createCompletion(textInput)"
         class="fa-regular fa-paper-plane text-white"></i>
      <div
           *ngIf="isBusy === true"
           class="inline-block h-5 w-5 text-white animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
           role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
  </div>
</div>